.page_body{
    margin: 0 auto;
    font-family:sans-serif ;
}
.menu_item{
    display: inline-block;
    margin-right:72px;   
    font-weight: 700;
}
.head_menu{
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    text-align: center;
    text-transform: uppercase;
}
.menu_link{
    color: #FF0000;
}
.menu_link_download{
margin-right: 50px;
}
a{
    text-decoration: none;
}
.image{
width: 100%;
height: 789px;
}
.title_text{
text-transform: uppercase;
text-align: center;
color: #373737;
}
.text{
text-align: center;
margin-top: 38px;
margin-bottom: 28px;
padding-left: 67.5px;
padding-right: 67.5px;
font-weight: 400;
}
.menu_button{
text-align: center;
margin-top: 84px;
}
.button_link{
background-color: #FF0000;
border-radius: 4px;
padding-top: 18px;
padding-right: 43.5px;
padding-bottom: 17px;
padding-left: 43.5px;
color: white;
text-transform: uppercase;

}
.contact{
text-align: center;
margin-bottom: 29px;
padding-right: 105px;
padding-left: 713px;
margin-top: 82px;
font-weight: 700;
}